/* Body */
body {
  background-color: #2d2f34;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* no scroll */
}

/* Header */
header {
  background-color: #17a2b8;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-weight: bold;
  color: white;
}

/* Main Section */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-top: 15px; 
}

/* Word Info */
.word-info {
  margin-top: 12px;
  font-size: 20px;
}

/* Current Word */
#current-word {
  font-size: 90px;
  font-weight: normal;
  margin: 5px 0 10px 0;
}

/* Difficulty */
.difficulty {
  margin-top: 8px;
}

.difficulty label {
  font-size: 18px;
  font-weight: normal;
  display: block;
}

.difficulty select {
  margin-top: 2px;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

/* Input */
#input-word {
  width: 45%;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  text-align: center;
}

#input-word:focus {
  border-color: #007bff;
  box-shadow: 0 0 2px #007bff; 
}

/* Messages */

#message {
  min-height: 40px;      
  margin: 10px 0;
  font-size: 28px;
  font-weight: bold;
}
/* Scoreboard */
.scoreboard {
  display: flex;
  justify-content: center;
  gap: 80px;   
  margin-top: 5px;
}
.time-up {
  color: red;
  font-weight: bold;
  font-size: 28px;
}
.text-success {
  color: limegreen;
  font-weight: bold;
  font-size: 28px;
}
/* Instructions Box */
.instructions-box {
  background: #5a6268;
  padding: 5px 8px;   
  margin-top: 10px;
  border-radius: 5px;
  width: 30%;          
  box-shadow: none;
  margin-top: 3px 4px;
}

.instructions-box h5 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
   margin: 0 0 8px 0;  
}

.instructions-box p {
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
}

/* Footer */
footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

footer a {
  color: #17a2b8;
  text-decoration: none;
}
